@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #fafafa;
}

.main__container {
  padding: 40px;
}

.portfolio__container {
  box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
}

.portfolio__container .sections {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 40px;
}

.portfolio__container .sections .img__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__container .sections .img__container img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.personalInformation__container {
  background: teal;
  box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
  border-radius: 12px;
  color: #fff;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.imgBg {
  opacity: 0.1;
  position: absolute;
  right: -160px;
  bottom: -80px;
  width: 100%;
  height: auto;
}

.details__container {
  margin-top: 30px;
  border-radius: 8px;
}

.details__container .box {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.details__container .box .label {
  margin-right: 10px;
  font-size: 20px;
}

.gallery__container {
  padding: 20px;
  width: 100%;
  position: relative;
}

.gallery__container .wrapper {
  margin-top: 10px;
  widows: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.gallery__container .wrapper img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all .3s ease;
  border: 2px solid #fff;
}

.gallery__container .wrapper img:hover {
  border: 2px solid teal;
}
